# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/

/node_modules/
package-lock.json

#backend
/backend/node_modules/
/backend/package-lock.json

#frontend
/frontend/node_modules/
/frontend/package-lock.json
/frontend/example.png
/frontend/.angular/