<div class="container">
  <form class="form" [formGroup]="manageForm">
    <div class="sorting-block">
      <h4>Sort by:</h4>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <mat-select (selectionChange)="sortApartments($event)" formControlName="price">
          <mat-option>None</mat-option>
          <mat-option value="asc">Lowest To High</mat-option>
          <mat-option value="desc">High To Lowest</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filtration-block">
      <h4>Filter by:</h4>
      <mat-form-field>
        <mat-label>Rooms</mat-label>
        <input type="number" min="1" matInput formControlName="rooms">
        @if (roomsValue) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearRooms()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </form>
</div>
